<table>
  <thead>
  <tr>
      <% attributs.fields.forEach(function(element){ %>
      <th data-field="<%= element.fieldName %>"><%= element.fieldName %></th>
      <% }); %>
  </tr>
  </thead>

  <tbody>
    <tr *ngFor="let entity of entities">
        <% attributs.fields.forEach(function(element){ %>
        <td>{{entity.<%= element.fieldName %>}}</td>
        <% }); %>
      <td>
        <a [routerLink]="['/<%=_.replace(_.snakeCase(className),"_","-").toLowerCase()%>', entity.id]">
          <i class="material-icons">mode_edit</i>
        </a>
      </td>
      <td>
        <a (click)="delete(entity)" href="">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light green"
     routerLink="/<%=_.replace(_.snakeCase(className),"_","-").toLowerCase()%>/new">
    <i class="material-icons">add</i>
  </a>
</div>
